<section class="products-list-section">
  <div class="products-list__container container-products container-products--margin">
    <h1 class="container-products__title">
      Наш автопарк
    </h1>
    <ul class="container-products__list list-products">
      {{#each products}}
        <li class="list-products__item item-product">
          <a href="/products/{{this._id}}" class="item-product__link">
            {{#if this.imagePath}}
              <img src="/static/{{this.imagePath}}" alt="{{this.brand}}" class="item-product__image item-product__image--margin">
            {{else}}
              <img src="/static/images/products/no-image.png" alt="Фото відсутнє" class="item-product__image item-product__image--margin">
            {{/if}}

            <h2 class="item-product__title item-product__title--margin">
              {{this.brand}} {{this.model}}
            </h2>
            <p class="item-product__text">
              Марка: {{this.brand}}
            </p>
            <p class="item-product__text">
              Модель: {{this.model}}
            </p>
            <p class="item-product__text">
              Рік випуску: {{this.year}}
            </p>
            <p class="item-product__text">
              Номер: {{this.number}}
            </p>
          </a>
        </li>
      {{else}}
        <li class="list-products__item--empty-list">
          Немає доступних продуктів.
        </li>
      {{/each}}
    </ul>
  </div>
</section>