<section class="product-item">
  <div class="product-item__container">
      <div class="product-item__details details-item">
          <h1 class="product-item__title">
            {{product.brand}} {{product.model}}
          </h1>
          {{#if product.imagePath}}
            <img src="/static/{{product.imagePath}}" alt="{{product.brand}}" class="item-product__image">
          {{else}}
            <img src="/static/images/products/no-image.png" alt="Фото відсутнє" class="item-product__image">
          {{/if}}
          <p class="item-product__text">
            Марка: {{product.brand}}
          </p>
          <p class="item-product__text">
            Модель: {{product.model}}
          </p>
          <p class="item-product__text">
            Рік випуску: {{product.year}}
          </p>
          <p class="item-product__text item-product__text--margin">
            Номер: {{product.number}}
          </p>
      </div>
      <div class="product-item__actions actions-product">
        <a class="actions-product__button button--edit" href="/products/edit/{{product._id}}">Редагувати</a>
        <button class="actions-product__button button--delete" type="button" onclick="RequestManager.handleOnDeleteClick('{{product._id}}')" >Видалити</button>
      </div>
  </div>

</section>
