
<section class="add-product-section">
  <div class="product-form__container container-product-form">
    <h1 class="container-product-form__title">Новий транспорт</h1>

     {{#if errors}}
      <div class="container-product-form__error-messages">
        <ul>
          {{#each errors}}
            <li>{{this.msg}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    <form class="container-product-form__form form-products" action="/products/add" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="brand">Марка:</label>
          <input type="text" id="brand" name="brand">
          <input type="text" id="brand" name="brand" minlength="1" maxlength="30" value="{{oldData.brand}}" required>
        </div>

        <div class="form-group">
          <label for="model">Модель:</label>
          <input type="text" id="model" name="model" minlength="1" maxlength="30" value="{{oldData.model}}" required>
        </div>

        <div class="form-group">
          <label for="year">Рік випуску:</label>
          <input type="number" id="year" name="year" min="1900" max="2024" value="{{oldData.year}}" required>
        </div>

        <div class="form-group">
          <label for="number">Номер:</label>
          <input type="text" id="number" name="number" minlength="4" maxlength="10" value="{{oldData.number}}" required>
        </div>

        <div class="form-group">
          <label for="photo">Фото:</label>
          <input type="file" id="photo" name="photo" accept="image/*" onchange="RequestManager.handleFileSelect(event, '#uploaded-image')">
        </div>

        <img id="uploaded-image" name="uploaded-image" class="form-products__image hidden" src="#" alt="Фото продукту">

        <button class="form-button" type="submit">Додати транспорт</button>
    </form>
  </div>
</section>

