<section class="products-list-section">
  <div class="products-list__container container-products container-products--margin">
    <h1 class="container-products__title">
      Наші продукти
    </h1>
    <ul class="container-products__list list-products">
      {{#each products}}
        <li class="list-products__item item-product">
          <a href="/products/{{this.id}}" class="item-product__link">
            <h2 class="item-product__title item-product__title--margin">
              {{this.name}}
            </h2>
            <img src="/static/images/products/storage/{{this.imagePath}}" alt="{{this.name}}" class="item-product__image item-product__image--margin">
            <p class="item-product__text">
              Категорія: {{this.category}}
            </p>
            <p class="item-product__text">
              Торгова марка: {{this.brand}}
            </p>
            <p class="item-product__text">
              Країна-виробник: {{this.country}}
            </p>
            <p class="item-product__text item-product__text--margin">
              Для тваринок: {{this.forPets}}
            </p>
            <p class="item-product__text">
              Ціна: <span class="bold">{{this.price}} грн</span>
            </p>
          </a>
        </li>
      {{else}}
        <li class="list-products__item--empty-list">
          Немає доступних продуктів.
        </li>
      {{/each}}
    </ul>
  </div>
</section>